
.cell {
    background-color: #efefef;
    height: 100px;
    width: 100px;
}
.empty {
    
}
.clear{
    clear: both;
}

.employee{
    float: left;
    height:500px;
}

.details {
   background-color: #b2b2b2;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    height: 200px;
    left: 250px;
    margin: 10px;
    padding: 20px;
    position: absolute;
    top: 250px;
    width: 300px;
}



.month {
    height:40px;
    width: 20%;
}
#monthCurrent {
    font-size: 26px;
    height: 100%;
    line-height: 50px;
    opacity: 0.6;
    text-align: center;
    width: 65%;
}
#backMonth,#nextMonth{
    height: 100%;
    width: 10%;
}

.caltable {
    
}


.left {
    float: left;
}

input {
    margin: 5px;
}

.boardroom {
    background-color: gray;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    width: 200px;
}
.boardroom:hover {
    background-color: black;

}

.roomlink {
        color: white;
    text-decoration: none;
}

.butt {
            color: white;
    text-decoration: none;
}

.button {
    background-color: grey;
    border-radius: 5px;
    height: 50px;
    margin: 10px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

.button:hover {
    background-color: black;

}

