.cell {
    height:100px;
    width: 100px;
}

.clear{
    clear: both;
}

.details {
    display: none;
    background-color: red;
    border: 1px solid;
    border-radius: 10px;
    height: 250px;
    left: 250px;
    margin: 10px;
    position: absolute;
    top: 250px;
    width: 300px;
}

.button {
    background-color: pink;
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    margin: 10px;
    width: 100px;
}

.month {
    height:40px;
    width: 20%;
    border: solid 1px;
}
#monthCurrent {
    height: 100%;
    width: 50%;
}
#backMonth,#nextMonth{
    height: 100%;
    width: 10%;
}


