AddDefaultCharset utf-8


RewriteEngine On

RewriteBase /


  # we skip all files with .something
RewriteCond %{REQUEST_URI} \..+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule .* - [L]

  # no, so we redirect to our front web controller
RewriteRule ^(.*)$ index.php [QSA,L]